
<br>
<br>
<div class="container">

  <form >

    <h2 class='title-page-form pt-3 pb-3'>Toutes les supers recettes</h2>
      <br>
    <div class="form-group d-flex">
      <div class="w-100">
         <%= form_tag recettes_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control form-style",
            placeholder: "Recherche ta recette par nom ou par univers [Sauce, Pattes ..]"%>
      </div>
      <div class="pl-2"><%= submit_tag "Rechercher", class: "btn btn-flat" %></div>
          <% end %>
    </div>
  </form>
  <br>
  <br>

  <div class="row">
    <% @recettes.each do |r| %>
      <div class="col-12 col-md-6 col-lg-3 recette-cards">
        <img class="card-img-top" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))" src="<%= cl_image_path r.photo.key, crop: :fill %>">
        <div class="card recette-card">
              <div class="card-body card-body-recette">
              <h4 class="title-page-form card-title"><%= r.titre  %></h4>
              <p>difficulté :
                <% counter = 0 %>
                <% 5.times do %>
                <i class="fa <%= r.difficulte > counter ? 'fa-star' : 'fa-star-o' %>"></i>
                <% counter += 1 %>
                <% end %></p>
                <p>Temps :  <%= r.duree + r.cuisson  %> <small>mins</small></p>
              <a href=""><%= link_to "Voir", recette_path(r), class: 'btn btn-flat' %></a>

          </div>
        </div>
      </div>
    <% end %>
  </div>



</div>




