
<br>
<br>
<div class="container">

  <form >
    <div class="form-group d-flex">
      <div class="w-100">
         <%= form_tag recettes_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Recherche ta recette par nom ou par univers [Sauce, Pattes ..]"%>
      </div>
      <div class="pl-2"><%= submit_tag "Rechercher", class: "btn btn-flat" %></div>
          <% end %>
    </div>
  </form>


<div class="cards cards-text">
  <% @recettes.each do |r| %>
  <div class="card-category" style="background-image: url('<%= cl_image_tag r.photo.key%>')">
    <%= cl_image_tag r.photo.key, height: 200, width: 250, crop: :fill if r.photo.attached? %>
   <%= r.titre  %>
  </div>
   <%end %>
</div>


<div class="row">
  <% @recettes.each do |r| %>
  <div class=" card-trip col-lg-3 col-md-6 col-sm-12 pr-1 pl-1">
      <div class="card-trip-image" alt="Card image cap">
        <%= cl_image_tag r.photo.key, height: 200, width: 250, crop: :fill if r.photo.attached? %>
        <div class="card-trip-infos">dde
          <h5 class="card-title"><%= r.titre  %></h5>

          <p>Par Chef <strong> <%= r.user.pseudo  %></strong></p>
          <img src="https://image.flaticon.com/icons/svg/1869/1869101.svg" class="card-trip-user avatar-bordered" />
          <div><%= link_to "", recette_path(r), class: 'card-link' %></div>
        </div>
    </div>
  </div>
 <%end %>
</div>




</div>
