<h1 class='title-page'>Publier une nouvelle recette</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">


      <%= simple_form_for @recette do |f| %>
        <%= f.input :titre, label: 'Titre ou punchline de votre super recette' %>
        <%= f.input :description, label: 'Décrire les étapes de votre recette, "comme ça, là.."(Lignac)' %>
        <%= f.input :lienUrl, label: 'Lien URL de la recette ?' %>

        <%= f.input :variante, label: 'avez-vous testé une variante ? "avec de la petite épautre par exemple, pour les mangeurs de graines"' %>
        <%= f.input :astuce, label:'une super astuce à nous donner?' %>
        <%= f.input :univers, label: 'Healthy, épicé, vegan, viande, plat convivial, dessert, gateau, pain ..', collection: ["Convivial","Dessert", "Gâteau", "Epicé", "Healthy", "Pain", "Patte", "Pizza", "Sauce", "Vegan", "Viande"], multiple: true %>
        <%= f.input :type, label: 'Entrée, plat ou dessert', collection: ["Entrée", "Plat", "Dessert"] %>
        <%= f.input :commentaire, label: 'Un commentaire général à apporter ?' %>
        <%= f.input :etiquette, label: 'Mots clés qui décrivent la recette, bannane, tomate, pain, pizza ..' %>

        <%= f.input :duree, label: 'Durée totale de la recette, en minutes' %>
        <%= f.input :cuisson, label: 'Durée de la cuisson en minutes (si cuisson il y a)' %>
        <%= f.input :note, label: 'Note attribuée à la recette. 5 étoiles ou rien ! on est pas chez Macdo', collection: ["1", "2", "3", "4", "5"] %>
        <%= f.input :difficulte, label: 'Difficulté de la recette', collection: ["1", "2", "3", "4", "5"] %>
        <%= f.button :submit, "Valider", class: 'btn btn-primary' %>

      <% end %>
    </div>
  </div>
</div>
