
 <% listeingredients =["Abricot", "Achillée", "Agneau", "Ail", "Airelle", "Ajowan", "Algue", "Amande amère", "Amande", "Ananas", "Anchois", "Aneth (feuilles et graines)", "Aneth", "Angélique", "Anguille", "Anis", "Armagnac", "Artichaut", "Asa foetida", "Asperge", "Aubergine", "Autruche", "Avocat", "Bacon", "badiane", "Baguette", "Banane", "Bar", "Basilic", "Batavia", "Beaufort", "Béchamel", "Betterave", "Beurre", "Bière", "Biscotte", "Biscuit", "Blé", "Blette", "Bleu", "Boeuf", "Bonbon", "Boudin", "Bouillon cube", "Bouquet Garni", "Bourbon", "BOurrache", "Boursin", "Brandy", "Brioche", "Brocoli", "Cabillaud", "Cacahuète", "Cacao", "Café", "Caille", "Calamar", "Calvados", "Camembert", "Camomille", "Canard", "Cannelle", "Cannelle", "Cantal", "Câpre", "Câpres", "Caramel", "cardamome", "carmin", "Carotte", "Carpe", "Carvi", "Casse", "Cassis", "Céleri", "Cèpe", "Cerfeuil", "cerfeuil", "Cerise", "cerneaux de noix", "Champagne", "Champignon", "Chanterelle", "Chapon", "Châtaigne", "Chèvre", "Chili", "Chocolat", "Chorizo", "Chou-Fleur", "Chou", "Ciboulette", "ciboulette", "Cidre", "Cinq épices", "Citron et citron séché", "citron vert", "Citron", "Citronnelle", "Citrouille", "Clémentine", "Clou De Girofle", "Clou de girofle", "Coca-Cola", "Coeur De Palmier", "Cognac", "Cognac", "Coing", "Cointreau", "Colin", "Compote", "Comté", "Concombre", "Confiture", "Coquelet", "Coquille Saint-Jacques", "Coquillettes", "Coriandre", "coriandre", "Corn Flakes", "Cornichon", "Cornichon", "Coulis de cassis", "Courge", "Courgette", "Couscous", "Crabe", "Crème Fraîche", "Crème de marron","Crêpe", "Cresson", "Crevette", "Crosne", "Crottin De Chèvre", "cumin noir", "Cumin", "Curcuma", "Curcuma", "Curry en poudre", "Curry", "Datte", "Daurade", "Dinde", "dukkah", "eau de fleurs doranger", "Eau De Vie", "Échalote", "Emmental", "Endive", "Épinards", "Escalope", "Escargot", "Estragon", "extrait de café", "extrait de vanille", "Gousse de vanille", "Farine", "fécule de pommes de terre", "Fenouil", "fenugrec", "Feta", "Feuille De Brick", "Feuille de curry", "Fève", "Figue", "Foie Gras", "Fraise", "Framboise", "Fromage Blanc", "Fromage", "Fruit De La Passion", "Fruits De Mer", "Galanga", "Gamba", "garam masala", "Gibier", "Gigot", "Gin", "Gingembre", "gingembre", "Girolle", "Glace", "Goyave", "graine de céleri", "Grand Marnier", "Grenadine", "Grenouille", "Griotte Au Sirop", "Groseille", "Gruyère", "Haddock", "Hareng", "Haricot", "Harissa", "helichrysum", "Homard", "Huile d\'olive", "Huître", "hysope", "Jambon", "Jambonneau", "Jus de fraise", "Jus", "Kiwi", "Lait De Coco", "Lait", "Laitue", "Langouste", "Langoustine", "Lapin", "Lard", "Lardon", "Lasagne", "laurier sauce", "Laurier", "lavande", "Lentille", "Lieu", "Lièvre", "lime séchée", "Limonade", "liqueur de framboise", "Liqueur", "Litchi", "livèche", "Lotte", "Loup", "Macaron", "Macaroni", "Mâche", "madère", "Magret", "Maïs", "Malibu", "Mangue", "Maquereau", "marjolaine", "Marron", "Marshmallow", "Martini", "mélisse", "Melon", "Menthe poivrée", "Menthe", "Merguez", "Merlan", "Merlu", "Miel", "millepertuis", "Mirabelle", "monarde", "Morue", "Moules", "Moutarde", "Mouton", "Mozzarella", "Munster", "Mûre", "Muscade", "Myrte", "Myrtille", "Navet", "Nectar", "Noisette", "Noisette", "Noix De Cajou", "Noix De Coco", "Noix de muscade", "Noix", "Nougat", "Oeuf", "Oie", "Oignon", "Olive", "Orange", "Origan", "Oseille", "Oseille", "Pain", "Pamplemousse", "Papaye", "Paprika", "paprika", "Parmesan", "Pastis", "Pâte", "Pâtes", "Pêche", "Persil", "Petit Suisse", "Petits Pois", "Pigeon", "pignon de pin", "Pignon", "Piment de Cayenne", "Piment de la Jamaïque", "Piment", "pimprenelle", "Pineau", "Pintade", "Poire", "Poireau", "Pois", "Poisson", "Poitrine Fumée", "Poivre", "Poivron", "Pomme De Terre", "Pomme", "Porc", "Porto", "Potimarron", "Poulet", "Poulpe", "Pousse De Bambou", "Prune", "Pruneau", "Purée", "Radis", "Raie", "Raifort", "Raisin", "Rascasse", "Ratatouille", "Raviolis", "Reblochon", "Reine Claude", "Rhubarbe", "Rhum", "Rhum", "Ricotta", "Risotto", "Riz", "Romarin", "romarin", "Roquefort", "Rouget", "Rumsteak", "Safran", "Saint-Moret", "Saint-Nectaire", "Saké", "Salade", "Sardine", "sarriette", "Saucisse", "Saucisson", "sauge", "Saumon", "Seiche", "Sel de Guérande", "fleur de sel", "Semoule", "Sésame", "Soda", "Soja", "Sole", "Sorbet", "Spaghetti", "Spéculos", "Steak", "Sucre", "sureau", "Surimi", "Tabasco", "Tagliatelle", "Tamarin", "Tapenade", "Tequila", "Thé", "Thon", "Thym", "Tofu", "Tomate", "Topinambour", "Tournedos", "Truffe", "Truite", "Turbot", "Vanille", "Veau", "Vermouth", "verveine citronnée", "Viande Des Grisons", "viandox", "Vin", "vinaigre balsamique", "vinaigre blanc", "Vinaigre", "vinaigre de Xérès", "Vodka", "Volaille", "Whisky", "Yaourt" ]%>

<div class="container">
  <br>

  <h3 class="text-center">Ajouter un ingrédient à votre recette</h3>
  <br>
  <div class="card-category-form w-50">


     <%= simple_form_for [@recette, @ingredient] do |f| %>
<p>Rechercher un ingrédient, puis saisir une quantité et une unité</p>
      <div class="col-md-12 pl-0 pr-0">
          <%= f.input :nom, input_html: { class: 'select2'}, label: "Selectionnez un ingredient", collection: listeingredients %>


      </div>

      <div class="col-md-12 d-flex pl-0 pr-0">
       <div class="col-md-6 pl-0">
          <%= f.input :quantite, label: "Quantité"  %>
       </div>
        <div class="col-md-6 pr-0">

          <%= f.input :unite, label: "Unité : 1 Oeuf = 'unités(s)'", collection: ["mL", "g", "unité(s)", "cL", "L", "Cuillière(s) à café", "Cuillière(s) à soupe", "Verre(s)", "Tranche(s)"], as: :radio_buttons %>

        </div>
      </div>

      <div class="col-md-12 pl-0 pr-0">
          <%= f.button :submit, class: "btn btn-primary w-100", label:"Ajouter l'ingrédient" %>
      </div>
      <% end %>
  </div>

</div>

