
<br>
<h3 class="text-center">Ajouter un ingrédient à votre recette</h3>
<div class="card-category-form w-50">



   <%= simple_form_for [@recette, @ingredient] do |f| %>

    <div class="col-md-12 pl-0 pr-0">
        <%= f.input :nom, label: "Rédiger un ingrédient, puis saisir la quantité" %>
    </div>

    <div class="col-md-12 d-flex pl-0 pr-0">
     <div class="col-md-6 pl-0">
        <%= f.input :quantite  %>
     </div>
      <div class="col-md-6 pr-0">
        <%= f.input :unite, label: "Unité de mesure ? pour un oeuf par ex. mettre 'unités'", collection: ["mL", "g", "unité(s)", "cL", "L", "cuillière(s) à café", "cuillière(s) à soupe", "'Verre(s)", "Tranche(s)"] %>
      </div>
    </div>

    <div class="col-md-12 pl-0 pr-0">
        <%= f.button :submit, class: "btn btn-primary w-100" %>
    </div>
    <% end %>
</div>

